.dragTarget {
    min-height: 1em;
}

.receive {
    min-height: 5em;
    border: 1px solid black;
}

/* .slide {
    position: relative;
    margin: 0 0 0.75rem 0;
    border: 1px solid black;
} */

.musicRegion {
    /* cursor: ns-resize; */
    cursor: grab;
}

.playButton {
    cursor: auto;
}

.noselect {
    -webkit-touch-callout:  none; /* iOS Safari */
    -webkit-user-select:    none; /* Safari */
    -khtml-user-select:     none; /* Konqueror HTML */
    -moz-user-select:       none; /* Firefox */
    -ms-user-select:        none; /* Internet Explorer/Edge */
    user-select:            none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.slide {
    min-height: 24px;
    font-size: 24px;
    background: white;
    cursor: grab;
}

.slide .fa-grip-vertical {
    cursor: ns-resize;
}

.slide:hover {
    border: 1px solid black;
}

.slide:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.w3-sidebar {
    width: 30%;
}

@media (max-width: 623px) {
    html {
        font-size: 64px;
    }

    .slide {
        min-height: 24px;
        font-size: 48px;
    }
}