.dragTarget {
    min-height: 1em;
}

.receive {
    min-height: 5em;
    border: 1px solid black;
}

/* .slide {
    position: relative;
    margin: 0 0 0.75rem 0;
    border: 1px solid black;
} */

.sortRegion {
    cursor: ns-resize;
}

.playButton {
    cursor: auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }