<nav>
			<div class="w3-bar w3-black">
					<!-- | sort: 'title' -->
				  {% assign doclist = site.data.pages | where: 'reviewed', 'true'  %}
				  {% capture pagePath %}Home{% endcapture %}
				  <a class="w3-bar-item w3-button w3-hide-small {% if page.title == pagePath %}w3-gray{% else %}w3-hover-gray{% endif %}"  href="/" alt="Home">Home</a>
				  {% for item in doclist %}
					{% capture pagePath %}/{{ "music/" | append: item.title | downcase }}/{% endcapture %}
					<a class="w3-bar-item w3-button w3-hide-small {% if page.url == pagePath %}w3-gray{% else %}w3-hover-gray{% endif %}"  href="{{ pagePath | downcase }}" alt="{{ item.title }}">{{ item.title }}</a>
				  {% endfor %}
				  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-gray w3-right w3-hide-large w3-hide-medium" onclick="openMenu()"><i class="fas fa-bars"></i></a>
			</div>
			
			<div id="mobileMenu" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
				{% capture pagePath %}Home{% endcapture %}
				<a class="w3-bar-item w3-button {% if page.title == pagePath %}w3-gray{% else %}w3-hover-gray{% endif %}" href="/">Home</a></li>
				{% for item in doclist %}
					{% capture pagePath %}/{{ "music/" | append: item.title | downcase }}/{% endcapture %}
					<!-- <li class="w3-hide-small"><a class="{% if page.url == pagePath %}w3-gray{% else %}w3-hover-gray{% endif %}"  href="{{ pagePath | downcase }}" alt="{{ item.title }}">{{ item.title }}</a></li> -->
					<a class="w3-bar-item w3-button {% if page.url == pagePath %}w3-gray{% else %}w3-hover-gray{% endif %}" href="{{ pagePath | downcase }}">{{ item.title }}</a></li>
				{% endfor %}
			</div>
		</nav>
		<script>
			function openMenu(){
				$('#mobileMenu').toggleClass("w3-show");
			}
		</script>