<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Music Scramble | {{ page.title }}</title>
		<link rel="stylesheet" href="/css/w3.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/css/fontawsomeFree5.1.0Web/css/all.css" />
		<script src="/scripts/jquery-3.3.1.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/seedrandom.min.js"></script>
    </head>
    <body>
        <h1>Music Scramble | {{ page.title }}</h1>
		
		{% include nav.html %}
{{ content }}

    </body>
</html>