<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Music Scramble | {{ page.title }}</title>
        <link rel="stylesheet" href="/css/w3.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/sortableStyles.css" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/css/fontawsomeFree5.1.0Web/css/all.css" />
		<link rel="stylesheet" href="/css/jquery-ui.css">
		<script src="/scripts/jquery-3.3.1.min.js"></script>
		<script src="/scripts/draggableSlides.js"></script>
		<script src="/scripts/jquery-ui.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/seedrandom.min.js"></script>
		<script>
			var pieces = [
				{% for item in page.pieces %}
					"/files/{{ item }}",
				{% endfor %}
			]
		</script>
		<script src="/scripts/scrambler.js"></script>
		<script>
			$( function() {
			  $( "#sortable" ).sortable();
			  $( "#sortable" ).disableSelection();
			} );
		</script>
    </head>
    <body>
        <h1>Music Scramble | {{ page.title }}</h1>
		
		{% include nav.html %}

		<!-- {% for item in page.pieces %} -->
			<!-- <p>{{ item }}</p> -->
		<!-- {% endfor %} -->
		<div class="w3-content w3padding" >
			To share this quiz, use this link: <span id="link"></span>
		</div>
		
		<div>
			<a class="w3-btn w3-black" id="allPlayButton" onclick="playAll();">Play All <i id="allPlayButtonIcon" class="fas fa-play"></i></a>
			<br/>
		</div>

		<div class="w3-content w3-padding all-slides" id="musicRegion">
			


			<ul id="sortable">
			{% assign entry = 0 %}
			
			{% for item in page.pieces %}
				<!-- <div class="w3-row "> -->
					<!-- <!-- ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="dragLeave(event)" -->
					<!-- <div class="w3-col s12 dragTarget" ></div> -->
				<!-- </div> -->
				<!-- draggable="true" ondragstart="drag(event)" -->
				<li>
					<div id="row{{entry}}">
						<div class="w3-center"><i class="fas fa-spinner fa-spin"></i></div> <!-- draggable row -->
					</div>	
				</li>
				{% assign entry = entry | plus: 1 %}
			{% endfor %}
			<!-- <div class="w3-row"> -->
					<!-- <div class="w3-col s12 dragTarget" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="dragLeave(event)"></div> -->
			<!-- </div> -->
			</ul>
		</div>
    </body>
</html>